*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
}

.wrapper{
    width: 90%;
    margin: auto;
    background: lightgrey;
    margin-top: 1%;
    text-align: center;
    padding: 1px;
    border-radius: 10px 10px;
    overflow: hidden;
}

.subheading{
    width: 90%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background: orange;
    border-radius: 20px 20px;
}
.title{
    color: white;
    background: rgb(60,60,60);
    width: 70%;
    margin: auto;
    border-radius: 20px 20px;
    margin-bottom: .5%;
    margin-top: 1%;
    padding: 1%;
}
.details{
    width: 50%;
    background: rgb(150,150,150);
    margin: auto;
    border-radius: 10px 10px;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
}

.destination-img{
    width: 300px;
    height: 200px;
    margin: 1%;
    border: 5px solid black;
}

#myImage{
    width: 30%;
    margin-bottom: 1%;
}

#callLink{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    
}

#email{
    margin-bottom: 1%;
}

input{
    margin-bottom: 1%;
}

#map {
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 1%;
}